<!-- Toolbar -->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="../assets/hatchways-logopng.png" width="45" height="45" style="padding-bottom: 12px;" alt="">
          <span class="logo">Hatchways</span>
        </a>
      </nav>
    </div>
  </div>
</div>

<div class="container">
  <!-- search-filtrer -->
  <div class="row mt-4">
    <div class="col">
      <div class="form-group">
        <input type="text" [(ngModel)]="searchName" (ngModelChange)="seachInputValueChange()" name="searchName"
          class="form-control" aria-describedby="emailHelp" placeholder="Filter by worker name...">
      </div>
    </div>
  </div>
  <!-- switch or toggle buttn -->
  <div class="row mt-2">
    <div class="col text-center">
      <label class="mr-4 switch-btn-text">Earliest First</label>
      <label class="switch">
        <input [(ngModel)]="checkboxFlag" (change)="checkBoxChange()" type="checkbox">
        <span class="slider round"></span>
      </label>
      <label class="ml-4 switch-btn-text">Latest First</label>
    </div>
  </div>

  <!-- results -->
  <app-work-orders></app-work-orders>

</div>